name: treefmt

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: a-kenji/nix-installer-action@main
      - run: nix build .#checks.x86_64-linux.formatting -L
